README.md
*.md

.git
.gitignore

Dockerfile
.dockerignore
docker-compose.yaml

node_modules
npm-debug.log

test
dist
coverage
documentation
docs

.dump
scripts

.husky
.eslintrc.js
.prettierrc
.prettierignore

.env
.env.example